<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Étlap</title>
</head>
<body>
<form action="/rest/UjEtel" method="post">
  Étel neve:<br>
  <input type="text" name="name">
  <br>
  Ára:<br>
  <input type="number" name="price">
  <br>
  Kalóriamennyisége:<br>
  <input type="number" name="kaloria">
  <br>
  Glutént tartalmaz:<br>
  <p><input type="radio" name="gluten" checked>Igen</input>
  <input type="radio" name="gluten" value="0">Nem</input></p>
  
  <br>
  Tejet tartalmaz:<br>
  <p><input type="radio" name="tej" checked>Igen</input>
  <input type="radio" name="tej" value="0">Nem</input></p>
  
  <input type="submit" value="Submit">
</form> 
</body>
</html>